/*** LINKS ***/

@mixin link-basic {
    font-family : $fontSecondary;
    font-size   : $font-size-3;
    color       : $grey-300;

    @media (hover: hover){
        &:hover {
            color: $amethyst-300;
        }
    }
}

@mixin link-login {
    font-family : $fontSecondary;
    font-size   : $font-size-3;
    color       : $amethyst-300;
    cursor      : pointer;

    @media (hover: hover){
        &:hover {
            color: $amethyst-400;
        }
    }
}