/*** RESET STYLES ***/
@mixin reset-appearance {
    border: 0;
    outline: 0;
    background: 0;
}

@mixin reset-autofill {
    &:-webkit-autofill {
      transition: background-color 9999s;
    }
}
