body {
    position    : relative;
    @include flexbox(flex, column, wrap, flex-start, center);
    width       : 100%;
    min-height  : 100vh;
    padding     : 1em;
    font-size   : 20px;

    &:not(.page__error){
        &::before,
        &::after {
            position: absolute;
        }
    
        &::before {
            content: "";
            top: -30px;
            left: -20px;
            z-index: -10;
            width: 150px;
            height: 100px;
            background: linear-gradient(120deg, $sunglow-200, $sunglow-100);
            border-radius: 50%;
            border: 5px solid $white;
            outline: 3px solid $sunglow-100;
        }
    }

    .main {
        display          : flex;
        justify-content  : center;
        width            : 100%;
        transition       : 300ms ease-out visibility 600ms;

        &.main--fadeOut {
            visibility: hidden;
        }

        @media (min-width: $bp-laptop) {
           padding-inline   : 4em;
        }

        @media (min-width: 1280px) {
            padding-inline   : 6em;
        }
    }

    .section--hidden {
        display: none;

    }
    
    .title,
    .subtitle {
        font-family     : $fontPrimary;
    }
    
    .title {
        padding-bottom  : .5em;
        font-weight     : 600;
        font-size       : 1.6em;
        color           : $grey-300;
    
        @media (min-width: $bp-laptop) {
            font-size       : 2em;
        }
    }
    
    .subtitle,
    .pretitle {
        font-weight : 500;
        font-size   : 1.4em;
    }
    
    .subtitle {
        color       : $amethyst-300;
    }

    .pretitle {
        color       : $grey-300;
    }
    
    .title__body--bold {
        font-family : $fontSecondary;
        font-weight : 600;
        font-size   : .8em;
        line-height : 42px;
        color       : $black;
    }
    
    .paragraph {
        font-family: $fontSecondary;
        font-weight: 400;
        font-size  : .8em;
        line-height: 1.2em;
        color      : $black;
    
        @media (min-width: $bp-laptop) {
            font-size       : .9em;
        }
    }

    .text {
        font-family: $fontSecondary;
        font-weight: 400;
        font-size  : .7em;
        color      : $grey-200;

        @media (min-width: $bp-laptop) {
            font-size: .8em;
        }
    }
}