.information__app {
    display: none;
    height: 100%;
    padding-top: 2em;
    
    &.section__fade--in{
        @include flexbox(flex, column, nowrap, center, center);

        @media (min-width: $bp-laptop) {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    
    .information__app__text {
        @media (min-width: $bp-laptop) {
           width: 45%;
        }

        @media (min-width: $bp-desktop) {
            width: 40%;
        }
    }


    .information__app__img {
        position: relative;
        width   : 250px;
        height  : 250px;

        @media (min-width: $bp-desktop) {
            width   : 350px;
            height  : 350px;
        }


        img {
            width       : 100%;
            height      : 100%;
            object-fit  : contain;
            opacity     : .9;
        }

        &::before,
        &::after {
            position: absolute;
            content : "";
            width   : 300px;
            
            @media (min-width: $bp-desktop) {
                width   : 400px;
            }
        }
        
        &::before {
            bottom          : -10px;
            left            : -20px;
            z-index         : -20;
            height          : 200px;
            border-radius   : 50% 100% 50% / 25% 50% 100% 100%;
            background      : linear-gradient($turquoise-200, $sunglow-100);
            transform       : rotate(-45deg);
            opacity         : .4;

            @media (min-width: $bp-desktop) {
                height  : 300px;
            }
        }

        &::after {
            bottom          : -30px;
            left            :  -25px;
            z-index         : -10;
            height          : 100%;
            background      : linear-gradient(100deg, $amethyst-200, $turquoise-100);
            border-radius   : 85% 75% 50%/ 50% 85% 75%;
            opacity         : .6;
        }
    }
}