mixin icon-close
    img(src="assets/icons/icon-close.webp" alt="Cerrar modal" class="icon icon__close")


mixin icon-logo
    img(src="assets/images/logotipo.webp" alt="Logotipo" class="form__logotipo" loading="lazy")
