mixin area51
    section.private__area__warning.section--hidden
        p.paragraph.onomatopoeia.--light
            |
            em ¡Ups!
        picture.img__private__area
            img(src="assets/images/status/loggedIn.png", alt="Regístrate o accede con tu usuario")
        p.paragraph Parece que no tienes suficientes permisos para acceder al contenido de esta página.
        p.paragraph
            span.link.link__login Entra 
            | con tu usuario o 
            span.link.link__register Regístrate