extends ../templates/template

block introduction
  // -Información básica sobre la app
  section.information__app
    div.information__app__text
      h1.title Monitoriza el cuidado de tus mascotas
      p.paragraph ¡Planifica sus necesidades de manera simple y rápida! Solo tienes que dar de alta a tu mascota y marcar las tareas sobre las que quieres realizar seguimiento: medicación, higiene, limpieza de juguetes…
    div.information__app__img
      img(src="./assets/images/pets1.png" alt="Entra y mantén un seguimiento de todas las necesidades de tu mascota")