extends ../templates/template
include ../mixins/calendar


block introductionLoggedOut
  //- Información básica sobre la app
  section.information__app
    div.information__app__text
      h1.title Monitoriza el cuidado de tus mascotas
      p.paragraph ¡Planifica sus necesidades de manera simple y rápida! Solo tienes que identificarte, dar de alta a tu mascota y marcar las tareas sobre las que quieres realizar seguimiento: baño, corte de pelo, limpieza de juguetes…
    div.information__app__img
      img(src="./assets/images/decoratives/pets1.png" alt="Entra y mantén un seguimiento de todas las necesidades de tu mascota")


block introductionLoggedIn
  div.information__pets.section--hidden  
    div.section__pets.section--hidden
      section.container__cards
      
      section.section__pet__info
        div.pet__info
        +calendar
        p.link.pet__info--delete
          | 
          img(src="assets/icons/icon-trash.png", alt="Eliminar mascota") 
          | Eliminar mascota

    
    div.section__pets--empty.section--hidden
      p.paragraph.onomatopoeia.--light
        |
        em ¡Vaya!
      picture.img__empty__area
        img(src="assets/images/status/empty.png", alt="La sección de mascotas está vacía. Agrega a tu mascota")
      p.paragraph.--light Parece que aún no has agregado a ninguna mascota a tu sección.
      p.paragraph ¡Puedes hacerlo ahora!
        |
        br 
        | Solo tienes que rellenar 
        | 
        a.link(href="agregar-mascota.html") este formulario